@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-color-primary-100: 204 241 254;
  --tw-color-primary-200: 153 228 253;
  --tw-color-primary-300: 102 214 251;
  --tw-color-primary-400: 51 201 250;
  --tw-color-primary-500: 0 187 249;
  --tw-color-primary-600: 0 150 199;
  --tw-color-primary-700: 0 112 149;
  --tw-color-primary-800: 0 75 100;
  --tw-color-primary-900: 0 37 50;
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #CCF1FE */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #99E4FD */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #66D6FB */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #33C9FA */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #00BBF9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0096C7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #007095 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #004B64 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #002532 */
  /* #endregion  /**======== Primary Color =========== */
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size:
      100% 2px,
      0 2px;
    background-position:
      100% 100%,
      0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size:
      0 2px,
      100% 2px;
  }
}

/* #region  /**=========== Datepicker =========== */
.react-datepicker-wrapper {
  display: block;
  width: 100%;
}

.react-datepicker__navigation.react-datepicker__navigation--previous,
.react-datepicker__navigation.react-datepicker__navigation--next {
  top: 6px;
}

.react-datepicker__header__dropdown.react-datepicker__header__dropdown--select {
  padding: 0 5px;
}

.react-datepicker__header__dropdown {
  margin-top: 0.5rem;
}

.react-datepicker__year-select,
.react-datepicker__month-select {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.7rem;
  border-radius: 0.25rem;
}

/* Selected date color */
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  @apply !bg-primary-500;
  @apply !text-white;
}
/* #endregion  /**======== Datepicker =========== */
